In [1]:
import os
import pandas as pd

In [2]:
DATASET_DIR = 'kion_train'
users_df = pd.read_csv(os.path.join(DATASET_DIR, 'users.csv'))
items_df = pd.read_csv(os.path.join(DATASET_DIR,'items.csv'))
interactions_df = pd.read_csv(os.path.join(DATASET_DIR,'interactions.csv'), parse_dates=['last_watch_dt'])

In [3]:
interactions_df.head()

   user_id  item_id last_watch_dt  total_dur  watched_pct
0   176549     9506    2021-05-11       4250         72.0
1   699317     1659    2021-05-29       8317        100.0
2   656683     7107    2021-05-09         10          0.0
3   864613     7638    2021-07-05      14483        100.0
4   964868     9506    2021-04-30       6725        100.0

In [4]:
popularity = interactions_df.groupby('item_id').count().user_id.rename('Views')
popularity.head()

item_id
0    37
1    23
2    38
3    18
4     6
Name: Views, dtype: int64

In [5]:
popularity = interactions_df.groupby('item_id').agg({'user_id':'count', 'total_dur':'sum'}).rename(columns={'user_id':'views'})
popularity.sort_values(['views', 'total_dur'], ascending=False, inplace=True)
popularity.head(10)

          views   total_dur
item_id
10440    202457  5534082820
15297    193123  4432354370
9728     132865   781720945
13865    122119   818712402
4151      91167   959195844
3734      74803   440073748
2657      68581   413997243
4880      55043   367487767
142       45367   219158905
6809      40372   280351321

In [6]:
popularity.head(10).index.tolist()

[10440, 15297, 9728, 13865, 4151, 3734, 2657, 4880, 142, 6809]

In [8]:
popularity.head(50).to_csv(os.path.join(DATASET_DIR, 'popular_50.csv'))